<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Zomato_trial</display-name>
  <welcome-file-list>
    <welcome-file>jsp/index.jsp</welcome-file>
  </welcome-file-list> 
  
  <servlet>
   <servlet-name>LoginServlet</servlet-name>
   <servlet-class>com.Zomato_trial.controller.LoginServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>LoginServlet</servlet-name>
   <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>RegisterServlet</servlet-name>
   <servlet-class>com.Zomato_trial.controller.RegisterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>RegisterServlet</servlet-name>
   <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
   <servlet-name>OrderServlet</servlet-name>
   <servlet-class>com.Zomato_trial.controller.OrderCartServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>OrderServlet</servlet-name>
   <url-pattern>/OrderServlet</url-pattern>
  </servlet-mapping>
  
   <servlet>
   <servlet-name>PlaceOrder</servlet-name>
   <servlet-class>com.Zomato_trial.controller.PlaceOrderServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
   <servlet-name>PlaceOrder</servlet-name>
   <url-pattern>/PlaceOrder</url-pattern>
  </servlet-mapping>
  
</web-app>